PORT=5040

# app url
APP_URL=xxxxxxxx
RESUME_SERVER_URL=http://localhost:5050
FRONTEND_URL=http://localhost:3000


# log
LOG_LEVEL= info #info,debug,error,warn
LOG_OUTPUT= console # 'console', 'file', or 'console,file'
LOG_FILE_PATH=logs/app.log

MONGODB_URI=xxxxxxxxx


# appwrite 
APPWRITE_ENDPOINT=https://sfo.cloud.appwrite.io/v1
APPWRITE_PROJECT_ID=xxxxxxxxx
APPWRITE_API_KEY=xxxxxxxxxx

# Razorpay
RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=
RAZORPAY_WEBHOOK_SECRET=

# Mailtrap
MAILTRAP_SMTP_HOST=smtp.mailtrap.io
MAILTRAP_SMTP_PORT=2525
MAILTRAP_SMTP_USER=
MAILTRAP_SMTP_PASS=
MAILTRAP_FROM_EMAIL=noreply@jobhunter.com

# Internal service token
INVOICE_SERVICE_INTERNAL_TOKEN=